{%extends 'boxoffice_base.html'%}
{%load static%}

{% block content%}
<section class="section-content padding-y bg">
    <div class="container">
        {%if reports%}
        <div class="row">
            <div class="col-4 col-sm-4">

                <h5 class="card-title mb-4">Trovati!</h5>
                {%include 'includes/alerts.html'%}
                <p class="card-text">Qui a destra l'elenco dei report già presenti   - <i class="fa fa-arrow-right" aria-hidden="true" style="font-size:24px;"></i></p>
                


            </div>
            <div class="col-8 col-sm-8">
                <table class="table table-warning table-striped table-hover">
                    <thead>
                        <th> Tipo </th>
                        <th>Progr.N</th>
                        <th>Creato</th>
                        <th>Aggiornato</th>
                        <th> Download</th>
                      </thead>
                      <tbody>
                            {% for report in reports%}
                        <tr>
                            <td> {{report.type}}</td>
                            <td> {{report.progress_number}}</td>
                            <td> {{report.created_at}}</td>
                            <td> {{report.updated_at}}</td>
                            <td><a href="/media/siae_reports/{{report.doc_path}}" download> <i class="fa fa-download" style="font-size:24px;" id="ticket_item"></i></a></td>
                        </tr>
                            {% endfor %}
                      </tbody> 

                </table>
            </div>
        </div>
        {%else%}
        <div class="row">
            <div class="col-8 col-sm-8">

                <h5 class="card-title mb-4">Nessun report trovato!</h5>
                <p class="card-text"> Clicca su 'Generazione dei report' per avviare la procedura di introduzione dei dati fiscali e generazione dei report. </p>
                <p class="card-text"> Clicca su 'Abbandona pagina' per tornare all'elenco degli eventi. </p>
                


            </div>
        {%endif%}
        <div class="row">
            <div class="card" style="width: 72rem;">
                <div class="card-body">
                  <h5 class="card-title">Evento {{event.show}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">del {{event.date_time}}</h6>
                  {%if not reports%}
                  <p class="card-text">Verranno generati i report modello SIAE 2DA, SIAE modello 566 e il foglio Excel del resoconto di cassa. </p>
                  {%else%}
                  <p class="card-text">Cliccando sulle icone download puoi scaricare i report modello SIAE 2DA, SIAE modello 566 e il foglio Excel del resoconto di cassa. </p>
                  {%endif%}

                </div>
              </div>
        </div>
        <br><br>
        <div class="row">
                {%if not reports%}
                <div class="col-6 col-md-4">
                    <a href="{% url 'fiscalmgm:siae' event.pk %}" id="submit" name="submit" class="btn btn-success" >Generazione dei report</a>
                </div>
                {%endif%}
                <div class="col-6 col-md-4">
                    <a href="{% url 'fiscalmgm:fiscalmgm_main' %}" id="cancel" name="cancel" class="btn btn-secondary">Abbandona pagina</a>
                </div>
            </div>
    
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{%endblock%}