{%extends 'boxoffice_base.html'%}
{%load static%}

{% block content%}
<section class="section-content padding-y bg">
    <div class="container">
        {%if reports%}
        <div class="row">
            <div class="col-4 col-sm-4">

                <h5 class="card-title mb-4">Attenzione!</h5>
                {%include 'includes/alerts.html'%}
                <p class="card-text">Qui a destra l'elenco dei report già presenti   - <i class="fa fa-arrow-right" aria-hidden="true" style="font-size:24px;"></i></p>
                


            </div>
            <div class="col-8 col-sm-8">
                <table class="table table-warning table-striped table-hover">
                    <thead>
                        <th> Tipo </th>
                        <th>Progr.N</th>
                        <th>Creato</th>
                        <th>Aggiornato</th>
                        <th> Download</th>
                      </thead>
                      <tbody>
                            {% for report in reports%}
                        <tr>
                            <td> {{report.type}}</td>
                            <td> {{report.progress_number}}</td>
                            <td> {{report.created_at}}</td>
                            <td> {{report.updated_at}}</td>
                            <td><a href="/media/siae_reports/{{report.doc_path}}" download> <i class="fa fa-download" style="font-size:24px;" id="ticket_item"></i></a></td>
                        </tr>
                            {% endfor %}
                      </tbody> 

                </table>
            </div>
        </div>
        {%endif%}
        <div class="row">
            <div class="card" style="width: 72rem;">
                <div class="card-body">
                  <h5 class="card-title">Dati fiscali per evento {{event.show}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">del {{event.date_time}}</h6>
                  <p class="card-text">Verranno generati i report modello SIAE 2DA, SIAE modello 566 e il foglio Excel del resoconto di cassa.
            Inserire o aggiornare i dati nel modulo qui sotto. 
            Premere il tasto verde per registrare/aggiornare i dati e generare/aggiornare i report.
        Premere il tasto 'Cancella operazione' per annullare.</p>
                </div>
              </div>
                <div class="card">
                    
                </div>
        </div>
        <form action="{% url 'fiscalmgm:siae' event.pk %}" method="post">
            {% csrf_token %}
            <div class="row">
                {{ form.non_field_errors }}
                <div class="col-6 col-md-6">
                        <div class="fieldWrapper">
                            {{ form.casher_01.errors }}
                            <label for="{{ form.casher_01.id_for_label }}">Casher 01:</label> {{ form.casher_01 }}
                        </div>
                </div>
                <div class="col-6 col-md-6">
                        <div class="fieldWrapper">
                            {{ form.casher_02.errors }}
                            <label for="{{ form.casher_02.id_for_label }}">Casher 02:</label> {{ form.casher_02 }}
                        </div>
                </div>
            </div>
            <!-- INIZIO Ingressi serie e numeri - Serie _1 -->
            <div class="row">
                <div class="col-4 col-md-4">
                    <div class="fieldWrapper">
                        {{ form.intero_ticket_serie_1.errors }}
                        <label for="{{ form.intero_ticket_serie_1.id_for_label }}">Intero serie_1:</label> {{ form.intero_ticket_serie_1 }}
                    </div>
                </div>
                <div class="col-4 col-md-4">
                    <div class="fieldWrapper">
                        {{ form.intero_ticket_start_number_1.errors }}
                        <label for="{{ form.intero_ticket_start_number_1.id_for_label }}">Intero Num. Inizio:</label> {{ form.intero_ticket_start_number_1 }}
                    </div>
                </div>
                <div class="col-4 col-md-4">
                    <div class="fieldWrapper">
                        {{ form.intero_ticket_end_number_1.errors }}
                        <label for="{{ form.intero_ticket_end_number_1.id_for_label }}">Intero Num. Fine:</label> {{ form.intero_ticket_end_number_1 }}
                    </div>
                </div>
               
            </div>
            <div class="row">
                <div class="col-4 col-md-4">
                    <div class="fieldWrapper">
                        {{ form.ridotto_ticket_serie_1.errors }}
                        <label for="{{ form.ridotto_ticket_serie_1.id_for_label }}">Ridotto serie_1:</label> {{ form.ridotto_ticket_serie_1 }}
                    </div>
                </div>
                <div class="col-4 col-md-4">
                    <div class="fieldWrapper">
                        {{ form.ridotto_ticket_start_number_1.errors }}
                        <label for="{{ form.ridotto_ticket_start_number_1.id_for_label }}">Ridotto Num. Inizio:</label> {{ form.ridotto_ticket_start_number_1 }}
                    </div>
                </div>
                <div class="col-4 col-md-4">
                    <div class="fieldWrapper">
                        {{ form.ridotto_ticket_end_number_1.errors }}
                        <label for="{{ form.ridotto_ticket_end_number_1.id_for_label }}">Ridotto Num. Fine:</label> {{ form.ridotto_ticket_end_number_1 }}
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-4 col-md-4">
                    <div class="fieldWrapper">
                        {{ form.gratuito_ticket_serie_1.errors }}
                        <label for="{{ form.gratuito_ticket_serie_1.id_for_label }}">Gratuito serie_1:</label> {{ form.gratuito_ticket_serie_1 }}
                    </div>
                </div>
                <div class="col-4 col-md-4">
                    <div class="fieldWrapper">
                        {{ form.gratuito_ticket_start_number_1.errors }}
                        <label for="{{ form.gratuito_ticket_start_number_1.id_for_label }}">Gratuito Num. Inizio:</label> {{ form.gratuito_ticket_start_number_1 }}
                    </div>
                </div>
                <div class="col-4 col-md-4">
                    <div class="fieldWrapper">
                        {{ form.gratuito_ticket_end_number_1.errors }}
                        <label for="{{ form.gratuito_ticket_end_number_1.id_for_label }}">Gratuito Num. Fine:</label> {{ form.gratuito_ticket_end_number_1 }}
                    </div>
                </div>
                              
            </div>
            <!--  FINE Ingressi serie e numeri - Serie _1 -->

            <!-- INIZIO Ingressi serie e numeri - Serie _2 -->
            <div class="row">
                <div class="col-4 col-md-4">
                    <div class="fieldWrapper">
                        {{ form.intero_ticket_serie_2.errors }}
                        <label for="{{ form.intero_ticket_serie_2.id_for_label }}">Intero serie_2:</label> {{ form.intero_ticket_serie_2 }}
                    </div>
                </div>
                <div class="col-4 col-md-4">
                    <div class="fieldWrapper">
                        {{ form.intero_ticket_start_number_2.errors }}
                        <label for="{{ form.intero_ticket_start_number_2.id_for_label }}">Intero Num. Inizio:</label> {{ form.intero_ticket_start_number_2 }}
                    </div>
                </div>
                <div class="col-4 col-md-4">
                    <div class="fieldWrapper">
                        {{ form.intero_ticket_end_number_2.errors }}
                        <label for="{{ form.intero_ticket_end_number_2.id_for_label }}">Intero Num. Fine:</label> {{ form.intero_ticket_end_number_2 }}
                    </div>
                </div>
               
            </div>
            <div class="row">
                <div class="col-4 col-md-4">
                    <div class="fieldWrapper">
                        {{ form.ridotto_ticket_serie_2.errors }}
                        <label for="{{ form.ridotto_ticket_serie_2.id_for_label }}">Ridotto serie_2:</label> {{ form.ridotto_ticket_serie_2 }}
                    </div>
                </div>
                <div class="col-4 col-md-4">
                    <div class="fieldWrapper">
                        {{ form.ridotto_ticket_start_number_2.errors }}
                        <label for="{{ form.ridotto_ticket_start_number_2.id_for_label }}">Ridotto Num. Inizio:</label> {{ form.ridotto_ticket_start_number_2 }}
                    </div>
                </div>
                <div class="col-4 col-md-4">
                    <div class="fieldWrapper">
                        {{ form.ridotto_ticket_end_number_2.errors }}
                        <label for="{{ form.ridotto_ticket_end_number_2.id_for_label }}">Ridotto Num. Fine:</label> {{ form.ridotto_ticket_end_number_2 }}
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-4 col-md-4">
                    <div class="fieldWrapper">
                        {{ form.gratuito_ticket_serie_2.errors }}
                        <label for="{{ form.gratuito_ticket_serie_2.id_for_label }}">Gratuito serie_2:</label> {{ form.gratuito_ticket_serie_2 }}
                    </div>
                </div>
                <div class="col-4 col-md-4">
                    <div class="fieldWrapper">
                        {{ form.gratuito_ticket_start_number_2.errors }}
                        <label for="{{ form.gratuito_ticket_start_number_2.id_for_label }}">Gratuito Num. Inizio:</label> {{ form.gratuito_ticket_start_number_2 }}
                    </div>
                </div>
                <div class="col-4 col-md-4">
                    <div class="fieldWrapper">
                        {{ form.gratuito_ticket_end_number_2.errors }}
                        <label for="{{ form.gratuito_ticket_end_number_2.id_for_label }}">Gratuito Num. Fine:</label> {{ form.gratuito_ticket_end_number_2 }}
                    </div>
                </div>
                              
            </div>
            <!--  FINE Ingressi serie e numeri - Serie _2 -->

            <!--  INIZIO conteggio cash -->
            <div class="row">
                <div class="col-6 col-md-6">
                    <div class="row">
                        <div class="fieldWrapper">
                            {{ form.cash_begin_200euro.errors }}
                            <label for="{{ form.cash_begin_200euro.id_for_label }}">Banconote 200 Euro Inizio:</label> {{ form.cash_begin_200euro }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="fieldWrapper">
                            {{ form.cash_begin_100euro.errors }}
                            <label for="{{ form.cash_begin_100euro.id_for_label }}">Banconote 100 Euro Inizio:</label> {{ form.cash_begin_100euro }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="fieldWrapper">
                            {{ form.cash_begin_50euro.errors }}
                            <label for="{{ form.cash_begin_50euro.id_for_label }}">Banconote 50 Euro Inizio:</label> {{ form.cash_begin_50euro }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="fieldWrapper">
                            {{ form.cash_begin_20euro.errors }}
                            <label for="{{ form.cash_begin_20euro.id_for_label }}">Banconote 20 Euro Inizio:</label> {{ form.cash_begin_20euro }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="fieldWrapper">
                            {{ form.cash_begin_10euro.errors }}
                            <label for="{{ form.cash_begin_10euro.id_for_label }}">Banconote 10 Euro Inizio:</label> {{ form.cash_begin_10euro }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="fieldWrapper">
                            {{ form.cash_begin_5euro.errors }}
                            <label for="{{ form.cash_begin_5euro.id_for_label }}">Banconote 5 Euro Inizio:</label> {{ form.cash_begin_5euro }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="fieldWrapper">
                            {{ form.cash_begin_2euro.errors }}
                            <label for="{{ form.cash_begin_2euro.id_for_label }}">Monete 2 Euro Inizio:</label> {{ form.cash_begin_2euro }}
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="fieldWrapper">
                            {{ form.cash_begin_1euro.errors }}
                            <label for="{{ form.cash_begin_1euro.id_for_label }}">Monete 1 Euro Inizio:</label> {{ form.cash_begin_1euro }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="fieldWrapper">
                            {{ form.cash_begin_50cent.errors }}
                            <label for="{{ form.cash_begin_50cent.id_for_label }}">Monete 50 Cent Inizio:</label> {{ form.cash_begin_50cent }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="fieldWrapper">
                            {{ form.cash_begin_20cent.errors }}
                            <label for="{{ form.cash_begin_20cent.id_for_label }}">Monete 20 Cent Inizio:</label> {{ form.cash_begin_20cent }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="fieldWrapper">
                            {{ form.cash_begin_10cent.errors }}
                            <label for="{{ form.cash_begin_10cent.id_for_label }}">Monete 10 Cent Inizio:</label> {{ form.cash_begin_10cent }}
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-6">
                    <div class="row">
                        <div class="fieldWrapper">
                            {{ form.cash_end_200euro.errors }}
                            <label for="{{ form.cash_end_200euro.id_for_label }}">Banconote 200 Euro Fine:</label> {{ form.cash_end_200euro }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="fieldWrapper">
                            {{ form.cash_end_100euro.errors }}
                            <label for="{{ form.cash_end_100euro.id_for_label }}">Banconote 100 Euro Fine:</label> {{ form.cash_end_100euro }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="fieldWrapper">
                            {{ form.cash_end_50euro.errors }}
                            <label for="{{ form.cash_end_50euro.id_for_label }}">Banconote 50 Euro Fine:</label> {{ form.cash_end_50euro }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="fieldWrapper">
                            {{ form.cash_end_20euro.errors }}
                            <label for="{{ form.cash_end_20euro.id_for_label }}">Banconote 20 Euro Fine:</label> {{ form.cash_end_20euro }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="fieldWrapper">
                            {{ form.cash_end_10euro.errors }}
                            <label for="{{ form.cash_end_10euro.id_for_label }}">Banconote 10 Euro Fine:</label> {{ form.cash_end_10euro }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="fieldWrapper">
                            {{ form.cash_end_5euro.errors }}
                            <label for="{{ form.cash_end_5euro.id_for_label }}">Banconote 5 Euro Fine:</label> {{ form.cash_end_5euro }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="fieldWrapper">
                            {{ form.cash_end_2euro.errors }}
                            <label for="{{ form.cash_end_2euro.id_for_label }}">Monete 2 Euro Fine:</label> {{ form.cash_end_2euro }}
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="fieldWrapper">
                            {{ form.cash_end_1euro.errors }}
                            <label for="{{ form.cash_end_1euro.id_for_label }}">Monete 1 Euro Fine:</label> {{ form.cash_end_1euro }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="fieldWrapper">
                            {{ form.cash_end_50cent.errors }}
                            <label for="{{ form.cash_end_50cent.id_for_label }}">Monete 50 Cent Fine:</label> {{ form.cash_end_50cent }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="fieldWrapper">
                            {{ form.cash_end_20cent.errors }}
                            <label for="{{ form.cash_end_20cent.id_for_label }}">Monete 20 Cent Fine:</label> {{ form.cash_end_20cent }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="fieldWrapper">
                            {{ form.cash_end_10cent.errors }}
                            <label for="{{ form.cash_end_10cent.id_for_label }}">Monete 10 Cent Fine:</label> {{ form.cash_end_10cent }}
                        </div>
                    </div>
                </div>
               
            </div>

            <div class="row">
                <div class="col-4 col-md-4">
                    <div class="fieldWrapper">
                        {{ form.collection_satispay.errors }}
                        <label for="{{ form.collection_satispay.id_for_label }}">Incasso Satispy Euro:</label> {{ form.collection_satispay }}
                    </div>
                </div>
                <div class="col-4 col-md-4">
                    <div class="fieldWrapper">
                        {{ form.collection_sumup.errors }}
                        <label for="{{ form.collection_sumup.id_for_label }}">Incasso Sumup Euro:</label> {{ form.collection_sumup }}
                    </div>
                </div>
                <div class="col-4 col-md-4">
                    <div class="fieldWrapper">
                        {{ form.collection_others.errors }}
                        <label for="{{ form.collection_others.id_for_label }}">Altri incassi Euro:</label> {{ form.collection_others }}
                    </div>
                </div>

            </div>

            <div class="row">
                {%if reports%}
                <div class="col-6 col-md-4">
                    <button name="submit" id="submit" class="btn btn-success" value="Aggiorna">Registra/aggiorna i dati e aggiorna i report</button>
                </div>
                {%else%}
                <div class="col-6 col-md-4">
                    <button name="submit" id="submit" class="btn btn-success" value="Registra">Registra i dati e genera i report</button>
                </div>
                {%endif%}
                <div class="col-6 col-md-4">
                    <a href="{% url 'fiscalmgm:fiscalmgm_main' %}" id="cancel" name="cancel" class="btn btn-secondary">Cancella operazione</a>
                </div>
            </div>
        </form>
    
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{%endblock%}