SECRET_KEY=cambia-con-chiave-segreta-generata
DB_PATH=/var/lib/ltcboxoffice/db.sqlite3
MEDIA_ROOT=/var/lib/ltcboxoffice/media
EMAIL_HOST=smtp.teatrocambiano.com
EMAIL_PORT=587
EMAIL_HOST_USER=ltcboxoffice@teatrocambiano.com
EMAIL_HOST_PASSWORD=cambia-con-password-email
EMAIL_USE_TLS=False
DEFAULT_FROM_EMAIL=ltcboxoffice@teatrocambiano.com
ALLOWED_HOSTS=prenota.teatrocambiano.com,127.0.0.1,localhost
