{%autoescape off%}

Salve {{user.first_name}},

questo indirizzo email è stato fornito durante un processo di reset della password per smarrimento sul sito {{domain.name}}.

Per completare il processo di reset della password dell'utente '{{user.email}}' 
clicca sul link qui sotto.

http://{{domain}}{%url 'resetpassword_validate' uidb64=uid token=token%}


Se non sei stato tu a richiedere questa operazione, per favore ignora questa mail e cancellala.

Cordiali saluti

lo staff del Laboratorio Teatrale di Cambiano

{%endautoescape%}
