{%extends 'boxoffice_base.html'%}
{%load static%}
{%load index%}

{% block content%}
<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    {%if not cart_items%}
        <H2 class="text-center">Il carrello è vuoto.</H2>
         <br>
        <div class="text-center">
            <a href="{%url 'event' event.id%}" class="btn btn-outline-primary">Torna alla pagina principale</a>
        </div>
    {%else%}
    <div class="row">
        <aside class="col-lg-9">
    <div class="card">
    <table class="table table-borderless table-shopping-cart">
    <thead class="text-muted">
    <tr class="small text-uppercase">
      <th scope="col">Posto</th>
      <th scope="col" width="120">Tipo Ingresso</th>
      <th scope="col" width="120">Prezzo</th>
      <th scope="col" class="text-right" width="200"> </th>
    </tr>
    </thead>
    <tbody>
        {%for item in cart_items %}
    <tr>
        <td>
            <figure class="itemside align-items-center">
                <div class="aside"><img src="{%static 'images/poltrona_blu.png'%}" class="img-sm"></div>
                <figcaption class="info">
                    <a href="#" class="title text-dark">Posto {{item.seat}}</a>
                </figcaption>
            </figure>
        </td>
        <td> 
            <!-- col.// -->
                            <div class="input-group-sm input-spinner">
                                <div class="input-group-prepend">
                                <a href="{%url 'boxoffice_minus_price' item.id %}" class="btn btn-light" type="button" id="button-plus"> <i class="fa fa-minus"></i> </a>
                                </div>
                                <input type="text" class="form-control"  value="{{item.price}}">
                                <div class="input-group-append">
                                <a href="{%url 'boxoffice_plus_price' item.id %}" class="btn btn-light" type="button" id="button-minus"> <i class="fa fa-plus"></i> </a>
                                </div>
                            </div> <!-- input-group.// -->
                        </div> <!-- col.// -->
        </td>
        <td> 
            <div class="price-wrap"> 
                {{item.ingresso}}
                <br>
                <var class="price">{{item.cost}}</var> 
            </div> <!-- price-wrap .// -->
        </td>
        <td class="text-right"> 
        <a href="{%url 'boxoffice_remove_cart' item.id%}" class="btn btn-danger"> Elimina</a>
        </td>
    </tr>
    {%endfor%}
    </tbody>
    </table>
    </div> <!-- card.// -->
    
        </aside> <!-- col.// -->
        <aside class="col-lg-3">
    
            <div class="card">
            <div class="card-body">
                <dl class="dlist-align">
                  <dt>Imponibile:</dt>
                  <dd class="text-right">€ {{taxable|stringformat:".2f"}}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>IVA ({{vat_rate}} %):</dt>
                  <dd class="text-right"> {{tax|stringformat:".0f"}}</dd>
                </dl>
                <dl class="dlist-align">
                  <dt>Totale:</dt>
                  <dd class="text-right text-dark b"><strong>€ {{total|stringformat:".2f"}}</strong></dd>
                </dl>
                <a href="{%url 'boxoffice_print' event.id%}" class="btn btn-primary btn-block"> Stampa biglietti </a>
            </div> <!-- card-body.// -->
            </div> <!-- card.// -->
    
    </aside> <!-- col.// -->
    
    
    </div> <!-- row.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    {%endif%}
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{%endblock%}