{% extends 'boxoffice_base.html' %}
{%load static%}
{% block content %}
{%load index%}
{%load ifinlist%}
<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=0.5, maximum-scale=1.0">
<meta charset="UTF-8">
<section class="section-content padding-y bg">
<div class="container">
    <div class="card">
        <div class="row no-gutters">
            <h3>Aggiungi posti alla tua prenotazione {{number}}</h3>
            <!-- <br>
            <h6>{{json_file}}</h6> -->

        </div> <!-- row -->
        <div class="row no-gutters">
            <table class="table table-sm">
                <thead>
                  <tr>
                      <th scope="col">Titolo</th>
                    <th scope="col">Data</th>
                    <th scope="col">Ora</th>
                    <th scope="col">Venue</th>
                    <th scope="col">Prezzi ingressi</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><strong style="font-size: 1.1rem;">{{event.show.shw_title}}</strong></th>
                    <td><strong style="font-size: 1.1rem;">{{event.date_time|date:"D d m Y"}}</strong></td>
                    <td><strong style="font-size: 1.1rem;">{{event.date_time|date:"H : i"}}</strong></td>
                    <td><strong style="font-size: 1.1rem;">{{event.venue.name}}</strong></td>
                    <td><strong style="font-size: 1.1rem;">Intero: {{event.price_full|stringformat:".2f"}} - Ridotto: {{event.price_reduced|stringformat:".2f"}}</strong></td>
                  </tr>
                </tbody>
              </table>

        </div> <!-- row -->

    </div> <!-- card -->

<!-- ============================ COMPONENT 1 ================================= -->
<div class="card">
    <table class="table table-hover table-sm">
        <tr>
            <td class="table-primary" colspan = "10"> </td>
            <td class="table-primary" colspan = "1"><p>STAGE</p> </td>
            <td class="table-primary" colspan = "10"> </td>
        </tr>
        
        {%for k, row in rows.items %}
        {%if row.data.name == 'I'%}
        <tr> <td class="table-primary" colspan="21"></td></tr>

        {%endif%}
        
        <tr >
            {%if row.data.off_start%}
            <td class="table-primary" colspan = "{{row.data.off_start}}"> </td>
            {%endif%}
            
            
            {%for k, seat in row.items %}
            {%if k == '11' %}
            <td class="table-primary" > </td>
            {%endif%}
            {%if k != 'data' %}
            <td class="table-success" onclick="selectSeat('{{seat.name}}')" id="{{seat.name}}"> 
                <small>{{seat.name}}</small>
             </td>
            {%endif%}
            {%endfor%}

            {%if row.data.off_end%}
            <td class="table-primary" colspan = "{{row.data.off_end}}"> </td>
            {%endif%}

        </tr> <!-- row.// -->
        {%endfor%}
        
    </table>
</div> <!-- card.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->
<div class="row">
    <div class="col-sm">
        <div class="card">
            <!-- RIGA PER SOLA PRENOTAZIONE PRIMA DI INSERIRE POSSIBILE VENDITA    -->
            <form method="POST" action="{% url 'hall_detail' event.event_slug number %}">
            <!-- RIGA PER SOLA VENDITA NATIVA DA RPRISTANARE QUANDO SI INTRODUCE VENDITA  -->
            <!-- <form method="POST" action="{% url 'add_cart' event.id %}"> -->
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Inserisci nel carrello.</button>
                <input type="hidden" name="sender_type" value="sala_scheme" title="declare the sender of the seat booking request">
                <input id="selected_seats" type="hidden" name="selected_seats" value="" title="declare the container of posted data of selected seats ">
            </form>
        </div>
    </div>
    <div class="col-sm">
        <div class="card">
            <a href="{% url 'hall_detail' event.event_slug number %}">
                    <button type="button" class="btn btn-warning">Azzera i posti (reset)</button>
                </a>
            </div>
        </div> 
        <div class="col-sm">
            <div class="card"> 
                <a href="{% url 'edit_order' orderevent.pk %}">
                    <button type="button" class="btn btn-info">Esci dalla selezione posti</button>
                </a>
        </div>
  </div>
</div>
</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<script type="text/javascript">
    var seat_name = [{% for k, seat in hall_status.items %}'{{k}}',{% endfor %}];
    var choice =[];
    function selectSeat(seat) {
        console.log('Chiamata la funzione SelectSeat con parametro '+seat);
            var seatNumberSelected=seat_name.indexOf(seat);
            console.log('Numero del posto selezionato = '+seatNumberSelected)
            var seatStatus = seatsStatus[seatNumberSelected]
            // seat status = 0 significa posto libero 
            if (seatStatus == '0') {
                if (choice.length < 10){
                toggleStatus(seatNumberSelected,'3')
                choice.splice(0,0,seat);
                seatsStatus[seatNumberSelected]='3'
                }
                else {
                    alert("Spiacenti ma puoi acquistare al massimo 10 posti per volta.")
                }
            }
            
            // seat status = 5 Venduto -  Sold - Payed
            if (seatStatus == '5') {
                alert('Posto non disponibile! Venduto');
                console.log("Choice=",choice);
            }
            // seat status =1 - BOOKED
            if (seatStatus == '1') {
            alert('Posto non disponibile! Prenotato da altro spettatore!');
                console.log("Choice=",choice);
            }

            // seat status = 2 Posto gia assegnato all'ordine che si sta modificando - solo per edit orderevent
            if (seatStatus == '2') {
            alert('Posto prenotato da te!');
                console.log("Choice=",choice);
            }
            // seat status = 3 significa posto in fase di acquisto. Non puo esistere se nessuna sessione aperta
            if (seatStatus == '3') {
                // alert('Posto selezionato in precedenza. Per rimuovere le selezioni premere <Annulla tutto>');
                toggleStatus(seatNumberSelected,'0')
                choice.splice(choice.indexOf(seat), 1);
                // choice.splice(0,0,seat);
                seatsStatus[seatNumberSelected]='0'
                console.log("Choice=",choice);
            }
            // seat status = 4 Il posto e' stato selezionato da un utente e messo nel carrello
            // POSTO NEL CARRELLO  - SEAT IN CART 
            if (seatStatus == '4') {
            alert('Posto non disponibile! Nel carrello di un acquirente!');
                console.log("Choice=",choice);
            }
    
        //set value
        document.getElementById('selected_seats').value = choice;	
        //get value
        var hiddenSelectedSeatsValue = document.getElementById('selected_seats').value;
        console.log("Hidden element=",hiddenSelectedSeatsValue);
    }
    function toggleStatus(seat,newStatus){
        var property = document.getElementById(seat_name[seat]);
            if (newStatus == '5') {
                property.className = "table-secondary"
            }
            if (newStatus == '4') {
                property.className = "table-info"
            }
            if (newStatus == '3') {
                property.className = "table-warning"
            }
            if (newStatus == '2') {
                property.className = "table-warning"
            }

            if (newStatus == '1') {
                property.className = "table-danger"
            }
            if (newStatus == '0') {
                property.className = "table-success"
            }

        }
    
    function readStatus() {
        seatsStatus = [{% for k, seat in  hall_status.items %} '{{seat.status}}', {% endfor %}];
        formerSeats = [{% for seat in formerseats %} '{{seat}}', {% endfor %}];
        var formerSeatsLen = formerSeats.length;
        console.log('passed list of former booked place:', formerSeats, '  di lunghezza:', formerSeatsLen);
        // for (i=0; i<formerSeatsLen; i++) {
        //     for (j=0; j<263; j++) {

        //         }
        //     }
        for (i=0; i<formerSeatsLen; i++){
        var seatFormerBooked=formerSeats[i];
        console.log('Numero del posto selezionato = ',seatFormerBooked);

        var IndexOfseatFormerBooked=seat_name.indexOf(seatFormerBooked);
            console.log('Indice del del posto selezionato = '+IndexOfseatFormerBooked);
            seatsStatus[IndexOfseatFormerBooked] = '2';
            }
        var statusLen = seatsStatus.length;
        var i;
        var text = "";
        for (i = 0; i < seat_name.length; i++) {
            // console.log('Posto '+ seat_name[i]+' - stato : '+seatsStatus[i])
            var property = document.getElementById(seat_name[i]);
            if (seatsStatus[i] == '0') {
                property.className = "table-success"
            }
            else if (seatsStatus[i] == '1') {
                    property.className = "table-danger"
            }
            else if (seatsStatus[i] == '2') {
                property.className = "table-warning"
            }
            else if (seatsStatus[i] == '3') {
                property.className = "table-warning";
                choice.splice(0,0,seat_name[i]);
            }
            else if (seatsStatus[i] == '5') {
                property.className = "table-secondary"
            }
    
            else if (seatsStatus[i] == '4') {
                property.className = "table-info"
            }
            }
        }

</script>
<script type="text/javascript">
    $(document).ready(function() {
            readStatus();
            console.log('Ready!!!!');

    
    }); 
    // jquery end
    </script>    
{% endblock %}