{% autoescape off %}
<img src="cid:logo.png" alt="Logo">
<p>Salve {{user.first_name}},</p>
<p>Il tuo ordine {{ number }} e' stato cancellato.</p>
<p>BoxOffice ha cancellato la prenotazione dei posti per te ad un evento.</p>
{%for number, orderevent in  email_data.items %}
<p>Prenotazione Evento Codice {{number}}:</p>
<p>I tuoi posti per lo spettacolo: {{ orderevent.show }}</p>
<p>Replica del {{ orderevent.datetime|date:'l, d-m-Y'}} alle {{ orderevent.datetime|time:'H:i' }}</p>
<p><strong>Locale: {{ orderevent.venue }}</strong></p>
<p>I posti prenotati erano:</p>
<ol>
{% for seat, seat_info in orderevent.seats.items %}
<li>Poltrona {{seat}} {% if seat_info.is_subscription %}con {{seat_info.ingresso_type}}{% endif %}</li>
{%endfor%}
</ol>
{%endfor%}
<p>I tuoi dati che abbiamo registrato inerenti al tuo ordine sono:</p>
<p>Nome: {{ customer.first_name }}</p>
<p>Cognome: {{ customer.last_name }}</p>
<p>Telefono: {{ customer.phone_number }}</p>
<p>Email: {{ customer.email }}</p>
<p>Speriamo di averti nostro ospite in un'altra occasione.</p>
<p>A presto, Lo staff di LTCBoxOffice.</p>
{% endautoescape %}