{% autoescape off %}
<img src="cid:logo.png" alt="Logo">
<p>Salve {{customer.first_name}},</p>
<p>Il tuo ordine e' stato registrato.</p>
<p>BoxOffice ha prenotato posti per te ad un evento al Teatro Comunale di Cambiano.</p>
{%for number, orderevent in  email_data.items %}
<p>Prenotazione Evento Codice {{number}}:</p>
<p>I tuoi posti per lo spettacolo: {{ orderevent.show }}</p>
<p>Replica del {{ orderevent.datetime|date:'l, d-m-Y'}} alle {{ orderevent.datetime|time:'H:i' }}</p>
<p>I posti prenotati sono:</p>
<ol>
{% for seat, seat_info in orderevent.seats.items %}
<li>Poltrona {{seat}} {% if seat_info.is_subscription %}con {{seat_info.ingresso_type}}{% else %}al prezzo di {{seat_info.price}} Euro{% endif %}</li>
{%endfor%}
</ol>
{%endfor%}
<p>I tuoi dati che abbiamo registrato inerenti al tuo ordine sono:</p>
<p>Nome: {{ customer.first_name }}</p>
<p>Cognome: {{ customer.last_name }}</p>
<p>Telefono: {{ customer.phone_number }}</p>
<p>Email: {{ customer.email }}</p>
<p>Arrivederci al botteghino del Teatro Comunale di Cambiano, in via Lame 4 a Cambiano.</p>
<p>A presto, Lo staff di LTCBoxOffice.</p>
{% endautoescape %}