{%extends 'boxoffice_base.html'%}
{%load static%}
{%load index%}

{% block content%}
<section class="section-content padding-y bg">
    <div class="container">
    
    <!-- ============================ COMPONENT 1 ================================= -->
    {%if not tickets_list%}
        <H2 class="text-center">Non ci sono biglietti stampati da visualizzare.</H2>
         <br>
        <div class="text-center">
            <a href="{%url 'event' event.id%}" class="btn btn-outline-primary">Torna alla pagina principale</a>
        </div>
    {%else%}
    <div class="row">
        <aside class="col-lg-9">
    <div class="card">
    <table class="table table-borderless table-shopping-cart">
    <thead class="text-muted">
    <tr class="small text-uppercase">
      <th scope="col">Posto</th>
      <th scope="col" width="120">Prezzo</th>
    </tr>
    </thead>
    <tbody>
        {%for item in tickets_list %}
    <tr>
        <td>
            <figure class="itemside align-items-center">
                <div class="aside"><img src="{%static 'images/poltrona_blu.png'%}" class="img-sm"></div>
                <figcaption class="info">
                    <a href="#" class="title text-dark">Posto {{item.seat}}</a>
                </figcaption>
            </figure>
        </td>

        <td> 
            <div class="price-wrap"> 
                {{item.ingresso}}
                <br>
                <var class="price">{{item.cost}}</var> 
            </div> <!-- price-wrap .// -->
        </td>
    </tr>
    {%endfor%}
    </tbody>
    </table>
    </div> <!-- card.// -->
    
        </aside> <!-- col.// -->
        <aside class="col-lg-3">
    
            <div class="card">
            <div class="card-body">
                <a href="{%url 'close_transaction' event.id%}" class="btn btn-primary btn-block"> Biglietti Stampati </a>
            </div> <!-- card-body.// -->
            </div> <!-- card.// -->
    
    </aside> <!-- col.// -->
    
    
    </div> <!-- row.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    {%endif%}
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
{%endblock%}