{% load static %}

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>

<script type="text/javascript" src={# static "cookie_consent/cookiebar.js" #}></script>

<

{# if request|cookie_consent_enabled #}

{# not_accepted_or_declined_cookie_groups request as cookie_groups #}

{# if cookie_groups #}

{# url "cookie_consent_cookie_group_list" as url_cookies #}

{# cookie_consent_accept_url cookie_groups as url_accept #}

{# cookie_consent_decline_url cookie_groups as url_decline #}

<script type="text/javascript">

var cookie_groups = [];

{# for cookie_group in cookie_groups #}

cookie_groups.push("{{ cookie_group.varname }}");

{# endfor #}

function ready(fn) {

if (document.readyState != 'loading') {

fn();

} else if (document.addEventListener) {

document.addEventListener('DOMContentLoaded', fn);

} else {

document.attachEvent('onreadystatechange', function() {

if (document.readyState != 'loading')

fn();

});

}

}

ready(function() {

showCookieBar({

content: "{# filter escapejs #}{# with cookie_groups=cookie_groups|join:", " #}<div class="cookie-bar">This site uses {{ cookie_groups }} cookies for better performance and user experience. Do you agree to use cookies? <a href="{{ url_accept }}" class="cc-cookie-accept">Accept</a> <a href="{{ url_decline }}" class="cc-cookie-decline">Decline</a> <a href="{{ url_cookies }}">Cookies info</a></div>{# endwith #}{# endfilter #}",

cookie_groups: cookie_groups,

cookie_decline: "{# get_decline_cookie_groups_cookie_string request cookie_groups #}",

beforeDeclined: function() {

document.cookie = "{# get_decline_cookie_groups_cookie_string request cookie_groups #}";

}

});

});

</script>
<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-2">
				<p class="text-muted"> &copy 2023 Laboratorio Teatrale di Cambiano</p>
			</div>
			<div class="col-md-8 text-md-center">
				<span  class="px-2">info@teatrocambiano.com</span>
				<span  class="px-2">+39 011 2476388</span>
				<span  class="px-2">Via Lame 4 - 10020 Cambiano</span>
			</div>
			<div class="col-md-2 text-md-right text-muted">
				<i class="fab fa-lg fa-cc-visa"></i>
				<i class="fab fa-lg fa-cc-paypal"></i>
				<i class="fab fa-lg fa-cc-mastercard"></i>
			</div>
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->