{% autoescape off %}
<img src="cid:logo.png" alt="Logo">
<p>Salve {{user.first_name}},</p>
<p>Il tuo ordine {{ order.order_number }} e' stato ricevuto e processato.</p>
<img src="cid:{{barcode}}" alt="QR Code">
<p>Hai prenotato i posti a teatro per lo spettacolo: {{ show.shw_title }}</p>
<p>Data dell'evento: {{ event.date_time|date:'d-m-Y'}} alle {{ event.date_time|time:'H:i' }}</p>
<p>Ti abbiamo destinato:</p>
<ol>
{% for seat, price in seats.items %}
<li>Posto {{seat}} al prezzo di {{price}} Euro</li>
{%endfor%}
</ol>
<p>I tuoi dati che abbiamo registrato inerenti al tuo ordine sono:</p>
<p>Nome: {{ order.first_name }}</p>
<p>Cognome: {{ order.last_name }}</p>
<p>Telefono: {{ order.phone }}</p>
<p>Email: {{ order.email }}</p>
{%if order.order_note %}
<p>Note all'ordine: "{{ order.order_note }}"</p>
{%else%}
<p>Nessuna nota all'ordine.</p>
{%endif%}
<p>Arrivederci al botteghino del Teatro Comunale di Cambiano, in via Lame 4 a Cambiano, dove pagherai la somma di {{ order.order_total }} Euro e riceverai i biglietti.</p>
<p>A presto, Lo staff di LTCBoxOffice.</p>
{% endautoescape %}