{% autoescape off %}
<img src="cid:logo.png" alt="Logo">
<p>Salve {{user.first_name}},</p>
<p>Il tuo ordine {{ order.order_number }} e' stato ricevuto e processato.</p>
{%if count > 1 %}
<p>Hai prenotato posti per {{count}} eventi.</p>
{% else %}
<p>Hai prenotato posti per un evento.</p>
{% endif %}
{%for number, orderevent in  email_data.items %}
<p>Prenotazione Evento Codice {{number}}:</p>
<p>Barcode per questo evento:</p>
<img src="cid:{{orderevent.barcode}}" alt="Barcode {{number}}">
<p>Mostrando in cassa questo barcode la tua prenotazione verra' rintracciata rapidamente e senza rischio di errori. Puoi esibirla sullo schermo del tuo smartphone o stampata su carta.</p>
<p>Hai prenotato i posti per lo spettacolo: {{ orderevent.show }}</p>
<p>Replica del {{ orderevent.datetime|date:'l, d-m-Y'}} alle {{ orderevent.datetime|time:'H:i' }}</p>
<p><strong>Locale: {{ orderevent.venue }}</strong></p>
<p>I tuoi posti prenotati:</p>
<ol>
{% for seat, seat_info in orderevent.seats.items %}
<li>Poltrona {{seat}} {% if seat_info.is_subscription %}con {{seat_info.ingresso_type}}{% else %}al prezzo di {{seat_info.price}} Euro{% endif %}</li>
{%endfor%}
</ol>
{%endfor%}
<p>I tuoi dati che abbiamo registrato inerenti al tuo ordine sono:</p>
<p>Nome: {{ order.first_name }}</p>
<p>Cognome: {{ order.last_name }}</p>
<p>Telefono: {{ order.phone }}</p>
<p>Email: {{ order.email }}</p>
{%if order.order_note %}
<p>Note all'ordine: "{{ order.order_note }}"</p>
{%else%}
<p>Nessuna nota all'ordine.</p>
{%endif%}
<p>Arrivederci al botteghino, dove pagherai la somma di {{ order.order_total }} Euro e riceverai i biglietti.</p>
<p>A presto, Lo staff di LTCBoxOffice.</p>
{% endautoescape %}