{% autoescape off %}

<html>
    <body>
        <img src="cid:logo.png" />
        <br>
        <br>
        
        Salve {{user.first_name}},
        <br>
        Il tuo ordine <b>{{ order.order_number }}</b> è staro ricevuto e processato.
        <br>
        {%if count > 1 %}
        Hai prenotato posti per {{count}} eventi al Teatro Comunale di Cambiano.
        {% else %}
        Hai prenotato posti per un evento al Teatro Comunale di Cambiano.
        {% endif %}
        <br>
        {%for number, orderevent in  email_data.items %}
        <h3> Prenotazione Evento Codice {{number}}: </h3>
        Barcode per questo evento:
        <br>
        <img src="cid:{{orderevent.barcode}}" style="max-height:100px;max-width:500px;height:auto;width:auto;"/>
        <br>
        <p>Mostrando in cassa questo barcode la tua prenotazione verrà rintracciata rapidamente e senza rischio di errori.
                Puoi esibirla sullo schermo del tuo smatphone o stampata su carta.  </p>

        Hai prenotato i posti per lo spettacolo: 
        <b>
                {{ orderevent.show }} 
        </b>
        <br>
        <p>
            Replica del <b>{{ orderevent.datetime|date:'l, d-m-Y'}}</b> alle {{ orderevent.datetime|time:'H:i' }}
        </p>
        <br>
        I tuoi posti prenotati:
        <br>
        <ol>
        {% for seat, price in orderevent.seats.items %}
                <li>
                   Poltrona {{seat}} al prezzo di {{price}} Euro
                </li>
                {%endfor%}
        </ol>
        <br>
{%endfor%}



        <br>
        I tuoi dati che abbiamo registrato inerenti al tuo ordine sono:
        <br>
        nome: {{ order.first_name }}, cognome: {{ order.last_name }}  
        <br>
        telefono: {{ order.phone }}, email: {{ order.email }} ,
        <br>
        {%if order.order_note %}
        note all'ordine: "{{ order.order_note }}".
        <br>
        {%else%}
        nessuna nota all'ordine.
        <br>
        {%endif%}

        <br>
Arrivederci al botteghino del Teatro Comunale di Cambiano,
<br>
in via Lame 4 a Cambiano,
<br>
dove pagherai la somma di {{ order.order_total }} Euro e riceverai i biglietti.

<br>
<br>
A presto.

<br>
<br>
Lo staff di LTCBoxOffice.

<small>
        <p><b>Laboratorio Teatrale di Cambiano APS</b></p>
        <p><i>Sede legale:</i> Via Lame, 4 - 10020 Cambiano (TO)</p>
        <p><i>P.I. e C.F.:</i> 09762270016</p> 
        <p><i>CODICE DESTINATARIO:</i> <b>G4AI1U8</b></p> 
        <p><i>MAIL:</i> info@teatrocambiano.com</p>
</small>
</body>
</html>
{% endautoescape %}