{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="max-age=604800" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>LTCBoxOffice | Piattaforma prenotazione posti.</title>

<style type="text/css" media="screen">

        body.with-cookie-bar {
        
        padding-top: 35px;
        
        }
        
        .cookie-bar {
        
        position: fixed;
        
        width: 100%;
        
        top:0;
        
        text-align:center;
        
        height:25px;
        
        line-height: 25px;
        
        background: #eee;
        
        }
        
        </style>

<link href="{% static 'images/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">


<!-- jQuery -->
<!-- <script src="{% static 'js/jquery-2.0.0.min.js' %}" type="text/javascript"></script> -->
<script src="{% static 'js/jquery-3.6.4.min.js' %}" type="text/javascript"></script>

<!-- Bootstrap4 files-->
<script src="{% static 'js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>

<!-- Font awesome 5 -->
<link href="{% static 'fonts/fontawesome/css/all.min.css' %}" type="text/css" rel="stylesheet">

<!-- custom style -->
<link href="{% static 'css/ui.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/responsive.css' %}" rel="stylesheet" media="only screen and (max-width: 1200px)" />

<!-- custom javascript -->
<script src="{% static 'js/script.js' %}" type="text/javascript"></script>

<!-- Paypal Script -->
<script src="https://www.paypal.com/sdk/js?client-id=AV48SpnVAilJKumklEog6Wu5__aOSRCu_nox9MWV5OJthtJ6RlvMFWomeM2co3iEQMVB8PHqYOUse-PD&currency=EUR"></script>

<!-- JSZIP-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js" integrity="sha512-XMVd28F1oH/O71fzwBnV7HucLxVwtxf26XV8P4wPk26EDxuGZ91N8bsOttmnomcCD3CS5ZMRL50H0GgOHvegtg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript">
/// some script

// jquery ready start
$(document).ready(function() {
	var my_doc;
        my_doc = document.getRootNode()
        console.log(my_doc)

}); 
// jquery end
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Cookie Consent Styles -->
<link href="{% static 'css/cookie-consent.css' %}" rel="stylesheet" type="text/css"/>

</head>
<body>

        <!-- navbar -->
        {% include 'includes/navbar.html' %}
        
        {% block content %}
        <!-- content -->
        {% endblock %}
        
        {% include 'includes/footer.html' %}

<!-- Cookie Consent Banner for non-authenticated users -->
{% if not user.is_authenticated %}
<div id="cookieConsentBanner" class="cookie-consent-banner" style="display: none;">
    <div class="cookie-consent-content">
        <div style="display: flex; align-items: center;">
            <span class="cookie-icon">🍪</span>
            <div class="cookie-consent-text">
                <h4>Questo sito utilizza i cookies</h4>
                <p>
                    Utilizziamo cookies tecnici essenziali per il funzionamento del sito. 
                    <a href="{% url 'cookie_policy' %}">Maggiori informazioni</a>
                </p>
            </div>
        </div>
        <div class="cookie-consent-actions">
            <button id="acceptCookies" class="cookie-consent-btn accept">
                <i class="fa fa-check"></i> Accetta
            </button>
            <button id="cookieSettings" class="cookie-consent-btn settings">
                <i class="fa fa-cog"></i> Preferenze
            </button>
            <button id="declineCookies" class="cookie-consent-btn decline">
                <i class="fa fa-times"></i> Solo Essenziali
            </button>
        </div>
    </div>
</div>

<!-- Cookie Settings Modal -->
<div id="cookieSettingsModal" class="cookie-settings-modal">
    <div class="cookie-settings-content">
        <span class="cookie-settings-close">&times;</span>
        <h3><i class="fa fa-cookie-bite"></i> Preferenze Cookie</h3>
        
        <div class="cookie-category">
            <div class="cookie-toggle">
                <div>
                    <h5>🔒 Cookies Essenziali</h5>
                    <p>Necessari per il funzionamento del sito</p>
                </div>
                <label class="switch">
                    <input type="checkbox" id="essentialCookies" checked disabled>
                    <span class="slider"></span>
                </label>
            </div>
        </div>
        
        <div class="cookie-category">
            <div class="cookie-toggle">
                <div>
                    <h5>⚙️ Cookies Funzionali</h5>
                    <p>Migliorano l'esperienza utente memorizzando preferenze</p>
                </div>
                <label class="switch">
                    <input type="checkbox" id="functionalCookies">
                    <span class="slider"></span>
                </label>
            </div>
        </div>
        
        <div style="text-align: center; margin-top: 20px;">
            <button id="saveCookieSettings" class="cookie-consent-btn accept">
                <i class="fa fa-save"></i> Salva Preferenze
            </button>
        </div>
    </div>
</div>

<!-- Cookie Consent Script -->
<script src="{% static 'js/cookie-consent.js' %}" type="text/javascript"></script>
{% endif %}

</body>
</html>