{% extends 'base.html' %}
{%load static%}
{% block content %}
<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->
<div class="card">
	<div class="row no-gutters">
		<aside class="col-md-6">
<article class="gallery-wrap"> 
	<div class="img-big-wrap">
	   <a href="#"><img src="{{show.shw_image.url}}"></a>
	</div> <!-- img-big-wrap.// -->
	
</article> <!-- gallery-wrap .end// -->
		</aside>
		<main class="col-md-6 border-left">
<article class="content-body">

<h2 class="title">{{show.shw_title}}</h2>

<div class="mb-3"> 
	<var class="price h4">
            {{prices}}
    </var> 
</div> 

<p>{{show.description}}</p>


<hr>
<div class="row">
	<table class="table table-hover table-bordered">
		<thead class="thead-light">
			<tr>
			  {%for event in events%}
			  <th scope="col">Data della replica</th>
			  {%endfor%}
			</tr>
		</thead>
		<tbody>
			<tr>
			  {%for event in events%}
			  
			  <td>
					  <a href="{{event.event_slug}}" class="btn btn-outline-primary">
						<span class="text-center">
							{{event.date_time|date:"D d m Y"}}
							<br>
							{{event.date_time|date:"H : i"}}
						</span> <i class="fas fa-shopping-cart"></i>
					</a>
				</td>
				{%endfor%}
			  </tr>
			</tbody>
		  </table>
	</div> <!-- row.// -->
	<div class="row">
		<div class="card bg-primary text-white">
			<div class="card-body">
				<h5>Seleziona una data e ora nella tabella qui sopra per 
					andare alla pagina di selezione dei posti a sedere.</h5>
			</div>
		</div>
	</div> <!-- row.// -->

</article> <!-- product-info-aside .// -->
		</main> <!-- col.// -->
	</div> <!-- row.// -->
</div> <!-- card.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->


</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}