{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        {%if 'search' in request.path %}
        <h3 class="title-page">Risultati della ricerca con parola '{{keyword}}'</h3>
        {%else%}        
        <h3 class="title-page">Botteghino</h3>        
        {%endif%}
    </div> <!-- container //  -->
    </section>
    <!-- ========================= SECTION INTRO END// ========================= -->
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">
    
    <div class="row">
        <aside class="col-md-3">
            
    <div class="card">
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Sezioni del<br>cartellone</h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1" >
                <div class="card-body">
                    
                    <ul class="list-menu">
                        <li><a href="{% url 'store' %}">Tutte </a></li>
                        {% for section in links %}
                        <li><a href="{{section.get_url}}">{{section.name}}  </a></li>
                        {% endfor %}
                    </ul>
    
                </div> <!-- card-body.// -->
            </div>
        </article> <!-- filter-group  .// -->
        
    </div> <!-- card.// -->
    
        </aside> <!-- col.// -->
        <main class="col-md-9">
    
    <header class="border-bottom mb-4 pb-3">
            <div class="form-inline">
                <span class="mr-md-auto">{{show_count}} Spettacoli Prenotabili </span>
                
            </div>
    </header><!-- sect-heading -->
    
    <div class="row">
        {%if billboard%}
        {% for show in billboard %}
        <div class="col-md-5">
            <figure class="card card-product-grid">
                <div class="img-wrap"> 
                    <a href="{{show.show_url}}" class="img-wrap"> <img src="{{show.image.url}}"> </a>
                    <!-- <img src="{{ show.image.url }}"> -->
                    
                </div> <!-- img-wrap.// -->
                <figcaption class="info-wrap">
                    <div class="fix-height">
                        <a href="{{show.show_url}}" class="title">
                            <h5>
                                <strong>
                                    <u>
                                        {{ show.title }}
                                    </u>
                                </strong>
                            </h5>
                        </a>
                        <div class="price-wrap mt-2">
                            <span class="text">Da {{show.from_date|date:"D d m Y"}} alle  {{show.from_date|date:"H : i"}}</span>
                        </div> <!-- price-wrap.// -->

                        <div class="price-wrap mt-2">
                            <span class="price">Intero € {{show.price_full}} </span>
                            <span class="price">Ridotto € {{show.price_reduced}} </span>
                        </div> <!-- price-wrap.// -->
                    </div>
                    <a href="{{show.show_url}}" class="btn btn-block btn-primary">Dettagli</a>
                </figcaption>
            </figure>
        </div> <!-- col.// -->
        {% endfor %}
        {%else%}
        <h2>
            <span class="badge bg-secondary text-white">
                <p>
                    Nessun spettacolo della corrente stagione è stato inserito nella sezione '{{keyword}}'.
                </p>
                <p>
                    Se ritieni che questo sia un errore contatta via mail il BoxOffice.
                </p>

            </span>
        </h2>
        {%endif%}
    </div> <!-- row end.// -->
    
    
    <nav class="mt-4" aria-label="Page navigation sample">
        {%if billboard.has_other_pages %}
        <ul class="pagination">
            {%if billboard.has_previous%}
            <li class="page-item"><a class="page-link" href="?page={{billboard.previous_page_number}}">Previous</a></li>
            {%else%}
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            {%endif%}
            {%for i in billboard.paginator.page_range%}
            {%if billboard.number == i %}
            <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
            {%else%}
            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
            {%endif%}
            {%endfor%}
            {%if billboard.has_next%}
            <li class="page-item"><a class="page-link" href="?page={{billboard.next_page_number}}">Next</a></li>
            {%else%}
            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
            {%endif%}
        </ul>
      {%endif%}
    </nav>
    
        </main> <!-- col.// -->
    
    </div>
    
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    
    
{% endblock %}