{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 50px;">
        <center><i class="fas fa-check-circle" style="font-size: 72px;margin-bottom: 20px;color: #28A745;"></i></center>
        <h2 class="text-center">Payment Successful</h2>
        <br>
        <div class="text-center">
            <a href="{% url 'print_ticket'%}?order={{order.id}}" class="btn btn-success">Scarica - stampa i tuoi biglietti</a>
        </div>
    </div>

    <div class="container" style="margin: 0 auto;width: 50%;padding: 50px;background: #f1f1f1;margin-top: 50px;margin-bottom: 50px;">
        <div class="row invoice row-printable">
            <div class="col-md-12">
                <!-- col-lg-12 start here -->
                <div class="panel panel-default plain" id="dash_0">
                    <!-- Start .panel -->
                    <div class="panel-body p30">
                        <div class="row">
                            <!-- Start .row -->
                            <div class="col-lg-6">
                                <!-- col-lg-6 start here -->
                                <div class="invoice-logo"><img src="{% static '/images/logo.png' %}" alt="Invoice logo" style="max-height: 40px;">
                                </div>
                            </div>
                            <!-- col-lg-6 end here -->
                            <div class="col-lg-6">
                                <!-- col-lg-6 start here -->
                                <div class="invoice-from">
                                    <ul class="list-unstyled text-right">
                                        <li><strong>Ricevuta di</strong></li>
                                        <li>{{ order.full_name }}</li>
                                        <li>{{ order.full_address }}</li>
                                        <li>{{ order.city }}, {{ order.state }}</li>
                                        <li>{{ order.country }}</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- col-lg-6 end here -->
                            <div class="col-lg-12">
                                <!-- col-lg-12 start here -->
                                <div class="invoice-details mt25">
                                    <div class="well">
                                        <ul class="list-unstyled mb0">
                                            <li><strong>Ordine</strong> # {{ order.order_number }}</li>
                                            <li><strong>Transazione</strong> # {{ order.payment.payment_id }}</li>
                                            <li><strong>Date Ordine:</strong> {{ order.created_at }}</li>
                                            <li><strong>Stato del pagamento:</strong> {{ order.payment.status }}</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="invoice-items">
                                    <div class="table-responsive" style="overflow: hidden; outline: none;" tabindex="0">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th class="per35 text-center">Evento </th>
                                                <th class="per45 text-center">Posti <br>(numero posto $ <br>codice prezzo 0-gratuito, 1-intero, 2-ridotto)</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for order_event in order_events  %}


                                            <tr>
                                                <td>{{ order_event.event.show.shw_title }}
                                                <p class="text-muted small">
                                                        {{ order_event.event.date_time }}
                                                    </p>
                                                </td>
                                                <td class="text-left">
                                                    <p class="text-black-75">
                                                        {{ order_event.seats_price }}
                                                    </p> 
                                                </td>
                                            </tr>

                                            {% endfor %}
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                <th colspan="1" class="text-right">Metodo pagamento:</th>
                                                <td class="text-center">{{ payment.payment_method }} </td>
                                            </tr>
                                            <tfoot>
                                            <tr>
                                                <th colspan="1" class="text-right">Totale pagamento:</th>
                                                <td class="text-center"> {{ payment.amount_paid }} Euro</td>
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <div class="invoice-footer mt25">
                                    <p class="text-center">Grazie per aver acquistato al nostro botteghino!</p>
                                </div>
                            </div>
                            <!-- col-lg-12 end here -->
                        </div>
                        <!-- End .row -->
                    </div>
                </div>
                <!-- End .panel -->
            </div>
            <!-- col-lg-12 end here -->
        </div>
    </div>


{% endblock %}