{% extends 'base.html' %}
{%load static%}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<section class="section-content padding-y bg">
<div class="container">
    <div class="card">
        <div class="row no-gutters">
            <h3>Dettaglio del file hall</h3>
            <br>
            <h5>{{json_file}}</h5>

        </div>
    </div>

<!-- ============================ COMPONENT 1 ================================= -->
<div class="card">
    <table class="table table-hover">
        <tr>
            <td class="table-primary" colspan = "10"> </td>
            <td class="table-primary" colspan = "1"><p>STAGE</p> </td>
            <td class="table-primary" colspan = "10"> </td>
        </tr>
        
        {%for k, row in rows.items %}
        
        <tr >
            {%if row.data.off_start%}
            <td class="table-primary" colspan = "{{row.data.off_start}}"> </td>
            {%endif%}
            
            
            {%for k, seat in row.items %}
            {%if k == '11' %}
            <td class="table-primary" > </td>
            {%endif%}
            {%if k != 'data' %}
            <td class="table-success" onclick="selectSeat('{{seat.name}}')" id="{{seat.name}}"> 
                {{seat.name}}
             </td>
            {%endif%}
            {%endfor%}

            {%if row.data.off_end%}
            <td class="table-primary" colspan = "{{row.data.off_end}}"> </td>
            {%endif%}
        </tr> <!-- row.// -->
        {%endfor%}
        <tr>
            <td class="table-primary" colspan = "21"> </td>
        </tr>

    </table>
</div> <!-- card.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->

<div class="card">
    <form method="POST" action="{% url 'hall' %}">
        {% csrf_token %}
    <table style="border: 2px solid white;">
        <tr> <th colspan="2"> Prenotazione a nome di: </th></tr>
        {{ form.as_table }}
    </table>
      <input type="submit" value="Finito">
    
      <input id="selected_seats" type="hidden" name="selected_seats" value="" title="declare the container of posted data of selected seats ">
      <input type="hidden" name="sender_type" value="sala_scheme" title="declare the sender of the seat booking request">
    </form>
    
    <p>Clicca su Finito per terminare la selezione dei posti.</p>
            </div>
</div>


</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<script type="text/javascript">
    var seat_name = [{% for k, seat in hall_status.items %}'{{k}}',{% endfor %}];
    var choice =[];
    function selectSeat(seat) {
        console.log('Chiamata la funzione SelectSeat con parametro '+seat);
            var seatNumberSelected=seat_name.indexOf(seat);
            console.log('Numero del posto selezionato = '+seatNumberSelected)
            var seatStatus = seatsStatus[seatNumberSelected]
            if (seatStatus == '0') {
                if (choice.length <=14){
                toggleStatus(seatNumberSelected,'5')
                choice.splice(0,0,seat);
                console.log(choice);
                seatsStatus[seatNumberSelected]='5'
                }
                else {
                    alert("Spiacenti ma puoi acquistare al massimo 15 posti per questo evento.")
                }
            }
            if (seatStatus == '5') {
                toggleStatus(seatNumberSelected,'1')
                seatRemoved=choice.indexOf(seat);
                if (seatRemoved>-1){
                choice.splice(seatRemoved,1);
                }
                console.log(choice);
            seatsStatus[seatNumberSelected]='1'
            }
            if (seatStatus == '2') {
            alert('Posto non disponibile!');
                console.log("Choice=",choice);
            }
            if (seatStatus == '3') {
            alert('Posto non disponibile!');
                console.log("Choice=",choice);
            }
            if (seatStatus == '4') {
            alert('Posto non disponibile!');
                console.log("Choice=",choice);
            }
    
        //set value
        document.getElementById('selected_seats').value = choice;	
        //get value
        var hiddenSelectedSeatsValue = document.getElementById('selected_seats').value;
        console.log("Hidden element=",hiddenSelectedSeatsValue);
    }
    function toggleStatus(seat,newStatus){
        var property = document.getElementById(seat_name[seat]);
            if (newStatus == '5') {
                property.style.backgroundColor = "#DFDF00"
            }
            if (newStatus == '1') {
                property.style.backgroundColor = "#00DF00"
            }
    }
    
    function readStatus() {
        seatsStatus = [{% for k, seat in  hall_status.items %} '{{seat.status}}', {%endfor%}];
        var statusLen = seatsStatus.length;
        var i;
        var text = "";
        for (i = 0; i < seat_name.length; i++) {
            // console.log('Posto '+ seat_name[i]+' - stato : '+seatsStatus[i])
            var property = document.getElementById(seat_name[i]);
                if (seatsStatus[i] == '5') {
                    property.className = "table-success"
                }
                if (seatsStatus[i] == '1') {
                    property.className = "table-warning"
                }
                if (seatsStatus[i] == '2') {
                    property.className = "table-danger"
                }
                if (seatsStatus[i] == '0') {
                    property.className = "table-success"
                }
            }
        //get value
        //var hiddenSelectedSeatsValue = document.getElementById('myHiddenField').value;
     }

</script>
<script type="text/javascript">
    $(document).ready(function() {
            readStatus();
            console.log('Ready!!!!');

    
    }); 
    // jquery end
    </script>    
{% endblock %}